@import "tailwindcss";

@theme {
  --color-light: var(--light);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-variation: var(--primary-variation);
  --color-primary-soft: var(--primary-soft);
  --color-secondary: var(--secondary);
  --color-secondary-variation: var(--secondary-variation);
  --color-tertiary: var(--tertiary);
  --color-border: var(--border);
}

:root {
  --light: #FFFFFF;
  --background: #F1F5F9;
  --secondary: #1D283D;
  --secondary-variation: #324158;
  --tertiary: #647690;
  --border: #CAD5E2;
}

.accent-red {
  --primary: #FB2C36;
  --primary-variation: #E7000B;
  --primary-soft: #FFE2E2;
}

.accent-blue {
  --primary: #2B7FFF;
  --primary-variation: #155DFC;
  --primary-soft: #DBEAFE;
}

.accent-green {
  --primary: #00C951;
  --primary-variation: #00A63E;
  --primary-soft: #DCFCE7;
}

.accent-black {
  --primary: #111111;
  --primary-variation: #000000;
  --primary-soft: #ECECEC;
}

.dark {
  --light: #000000;
  --background: #F1F5F9;
  --secondary: #1D283D;
  --secondary-variation: #324158;
  --tertiary: #647690;
  --border: #CAD5E2;
}